@font-face {
    font-family: 'Poppins';
    src: url('../FONTS/Poppins-Bold.eot');
    src: url('../FONTS/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../FONTS/Poppins-Bold.woff2') format('woff2'),
        url('../FONTS/Poppins-Bold.woff') format('woff'),
        url('../FONTS/Poppins-Bold.ttf') format('truetype'),
        url('../FONTS/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../FONTS/Inter18pt-Regular.eot');
    src: url('../FONTS/Inter18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../FONTS/Inter18pt-Regular.woff2') format('woff2'),
        url('../FONTS/Inter18pt-Regular.woff') format('woff'),
        url('../FONTS/Inter18pt-Regular.ttf') format('truetype'),
        url('../FONTS/Inter18pt-Regular.svg#Inter18pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('../FONTS/CabinCondensed-SemiBold.eot');
    src: url('../FONTS/CabinCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../FONTS/CabinCondensed-SemiBold.woff2') format('woff2'),
        url('../FONTS/CabinCondensed-SemiBold.woff') format('woff'),
        url('../FONTS/CabinCondensed-SemiBold.ttf') format('truetype'),
        url('../FONTS/CabinCondensed-SemiBold.svg#CabinCondensed-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
